body {
    font-family: Arial, sans-serif;
   
    background-color: #e3f0fc;
}

.sidebar {
    background-color: #0d4d8d !important;
    height: 100vh;
    color: #000000;
}

.sidebar h3 {
    text-align: center;
    margin-bottom: 30px;
    color:rgb(255, 255, 255);
}

.sidebar i{
    margin-right: 10px;
}
.sidebar .nav-link {
    font-size: 18px;
    color: #ffffff;
    margin-bottom: 10px;
    text-decoration: none;
}

.sidebar .nav-link:hover {
    color:rgb(255, 125, 4);
    transform: scale(1.1);
    transition: transform 0.1s ease-in;  
}
 li{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 }
.sidebar .logout{
    margin-top: 150px;
    background-color: rgb(248, 150, 59);
}
/* Main content styling */
.content {
    background-color: #ffffff;
    padding: 20px;
}

.content h1 {
    color:  #0d4d8d;
   

}

/* Card Styling */
.card {
    background-color: #edf3fa;
    border: none;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    height:200px;
}

.card h3 {
    font-size: 16px;
    margin-bottom: 10px;
}

.card p {
    font-size: 18px;
    margin-bottom: 20px;
}

.card .btn {
    background-color:rgb(255, 125, 4,0.7);
    border: none;
    width:fit-content;
    color: white;
}

.card .btn:hover {
    background-color: rgb(178, 178, 178);
}

@media (max-width: 768px) {
    .sidebar {
        width: 200px;
        padding: 10px;
    }

    .card {

     margin-bottom: 15px;
    }

    .content {
        margin-left: 0;
        padding: 10px;
    }
}
.logout{
    background-color: rgb(255, 125, 4);
}
